.sidebar {
  width: 195px;
  height: 100%;
  background-color: white;
  padding: 20px;
  transition: width 0.3s ease;
  position: relative;
  overflow: hidden; /* Hide overflow */
}

.sidebar.collapsed {
  width: 0; /* Hide the sidebar when collapsed */
  padding: 0; /* Remove padding */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed .sidebar-content {
  display: none; /* Hide the content when collapsed */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #000;
}

.menu-item span {
  margin-left: 10px;
}

.menu-item svg {
  font-size: 20px;
}

.menu-section h3 {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.toggle-button {
  font-size: 25px;
  background-color: #ffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  position: fixed;
  transform: translateY(-50%);
  z-index: 1000;
  transition: background-color 1.9s;
  margin: 13px 0 0 5px;
}

.toggle-button:hover {
  background-color: #ffffff;
}

.sidebar.collapsed ~ .toggle-button {
  right: 10px; /* Position inside the view */
}
