# Node.js (React) dependencies
node_modules/
npm-debug.log
yarn-error.log

# React build output
/build
/dist
.DS_Store

# Log files
logs/
*.log

# Tauri specific files
/src-tauri/target/
src-tauri/.tauri.lock
src-tauri/target/release/bundle/
src-tauri/target/release/install/

# Rust/Cargo (Tauri)
/target
/Cargo.lock

# OS-specific files
.DS_Store
Thumbs.db